body {
  margin: 0;
  padding:0;
}

.swiper-pagination{  
  position: relative !important;
  margin-top: 24px;  
  display: none;
}

.swiper-pagination-bullet-active{
  background: black !important; 
}

@media screen and (max-width: 479px) {
  .swiper-pagination{       
    display: block
  }   
}