body {
  margin: 0;
  padding:0;
}

.swiper-pagination{  
  position: relative !important;
  margin-top: 24px;  
  display: none;
}

.swiper-pagination-bullet-active{
  background: black !important; 
}

@media screen and (max-width: 479px) {
  .swiper-pagination{       
    display: block
  }   
}

.transition-card {
  opacity: 0;
  animation: fade-in 0.3s 0.3s forwards;
}

.transition-card-low {
  opacity: 0;
  animation: fade-in 1s 1s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}